/**********************************************************
  Utilities Classes Start
**********************************************************/
.max-width-center {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
}

.section-padding-x {
    padding-inline: 2rem;
}

.section-margin-bottom {
    margin-bottom: 8rem;
}

.primary-text {
    color: var(--primary-color);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.transparent-btn {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    padding: 1.2rem 2.4rem;
    text-transform: uppercase;
}


@media (hover:hover) {
    .transparent-btn:hover {
        background-color: var(--white);
        color: var(--black);
    }
}

/**********************************************************
    Utilities Classes End
  **********************************************************/